/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2022, 10:25:21
    Author     : U
*/
html{
    padding:0;
    margin:0;
}
#plat{
    margin: 10px ;
    
}

